## Search the Best Arbitrage in Bostrom Pools

In [1]:
import pandas as pd
from IPython.core.display import display, HTML

from src.data_extractors import get_pools, get_prices


MIN_ARBITRAGE_REVENUE = 0.02
H_START_AMOUNT = 1_000_000

#### Get Bostrom and Osmosis Pools Data

In [2]:
pools_df = get_pools(display_data=True)

#### Calculate Prices

In [3]:
price_df = get_prices(pools_df=pools_df, display_data=True)

#### Search the Best Arbitrage

In [4]:
coins_unique_set = set(price_df.columns)
result_list = []
for coin_1 in coins_unique_set:
    coin_1_amount = H_START_AMOUNT * price_df.loc[coin_1, 'hydrogen']
    if coin_1_amount > 0:
        for coin_2 in coins_unique_set.difference({coin_1}):
            coin_2_amount = coin_1_amount * price_df.loc[coin_2, coin_1]
            if coin_2_amount > 0:
                for coin_3 in coins_unique_set.difference({coin_1, coin_2}):
                    coin_3_amount = coin_2_amount * price_df.loc[coin_3, coin_2]
                    result = coin_3_amount * price_df.loc[coin_1, coin_3]
                    if result > coin_1_amount * (1 + MIN_ARBITRAGE_REVENUE):
                        result_list.append(
                                [[coin_1, coin_2, coin_3],
                                 round(result/coin_1_amount, 3)])
                    if coin_2_amount > 0:
                        for coin_4 in coins_unique_set.difference({coin_1, coin_2, coin_3}):
                            coin_4_amount = coin_3_amount * price_df.loc[coin_4, coin_3]
                            result = coin_4_amount * price_df.loc[coin_1, coin_4]
                            if result > coin_1_amount * (1 + MIN_ARBITRAGE_REVENUE):
                                result_list.append(
                                    [[coin_1, coin_2, coin_3, coin_4],
                                     round(result/coin_1_amount, 3)])

result_df =\
    pd.DataFrame(
        data=[[' -> '.join(coin for coin in item[0] + [item[0][0]]), item[1]] for item in result_list],
        columns=['arbitrage', 'revenue']).sort_values('revenue', ascending=False)
pd.set_option('display.max_colwidth', None)
pd.options.display.float_format = '{0:7,.2f}'.format
display(HTML(result_df.to_html(index=False, notebook=True, show_dimensions=False)))